// Colors 
    $a: #7b5cfa;
    $b : #9175ff;
    $c: #1E2139;
    $d: #252945;
    $e: #DFE3FA;
    $f: #888EB0;
    $g: #7E88C3;
    $h: #0C0E16;
    $i: #EC5757;
    $j: #9277FF;
    $k: #F8F8F8;
    $l: #141625;
    $m: #494E6E;
    $n: #7C5DFA;
    $o: #97979725;
    $p: #FF8F0025;
    $q: #33D69F25;
    $r: #33D69F;
    $s: #FF8F00;
    $t: #33D69F15;
    $u: #F9FAFE;
    $v: #888EB0;
    $w: #373B53;
    $x: #777F98;
    $y: #bdbdbd;
    $z: #0C0E16;
    $white: #ffffff;
    $halftrans: #00000080;
    $trans: #00000000;
    $transgray: #00000017;

//Font --> font-family: 'Spartan', sans-serif;

    @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

//Global Classes

html {
    width: 100%!important;
    height: 100%!important;
}

body {
    font-family: 'Spartan', sans-serif!important;
    width: 100%!important;
    height: 100%!important;
}

.window-height {
    min-height: 59rem!important;
}

::-webkit-scrollbar {
    width: 0.5rem!important;     
}

::-webkit-scrollbar-track {
    margin-top: 9.2rem;
    margin-bottom: 1.9rem;
}


::-webkit-scrollbar-thumb {
    border-radius: 0.25rem!important;
    background: $d!important;
}

.pointer:hover {
    cursor: pointer;
}

.trans-background {
    background-color: $halftrans!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    z-index: 4!important;
    transition: .25s!important;
}

.modal-trans-background {
    background-color: $halftrans!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    z-index: 6!important;
    transition: .25s!important;
}

.ns {
    margin: 0!important;
    padding: 0!important;
}

.o10 {
    opacity: 0.10!important;
}

.w-5 {
    width: 5%!important;
}

.w-10 {
    width: 10%!important;
}

.w-12 {
    width: 12%!important;
}

.w-15 {
    width: 15%!important;
}

.w-20 {
    width: 20%!important;
}

.w-25 {
    width: 25%!important;
}

.w-30 {
    width: 30%!important;
}

.w-35 {
    width: 35%!important;
}

.w-40 {
    width: 40%!important;
}

.w-45 {
    width: 45%!important;
}

.w-50 {
    width:50%!important;
}

.r-1 {
    width: 1rem!important;
}

.f {
    &-ae {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &-as {
        display: flex;
        align-items: center;
    }
    &-ca {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-sb {
        display: flex;
        justify-content: space-between;
    }
    &-sa {
        display: flex;
        justify-content: space-around;
    }
    &-c {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-e {
        display: flex;
        justify-content: flex-end;
    }
    &-clb {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-ac {
        display: flex;
        align-items: center;
    }
}

.background-createoredit-filler {
    position: absolute;
    transition: .25s;
    width: 100%!important;
    height: 100%!important;
    z-index: -1;
}

.overflow-hidden {
    overflow-y: hidden!important;
}

.night-mode {
    background-color: $l!important;
    transition: .25s;

    ::-webkit-scrollbar-thumb {
        background: $d!important;
    }

    .background-filler {
        background-color: $l!important;
        transition: .25s;
        width: 100%!important;
        height: 100%!important;
        z-index: 5;
    }
    .background-createoredit-filler{
        background-color: $l!important;
    }

    h1 {
        color: $white;
    }
    h2 {
        color: $e;
    }
    h3 {
        color :$white;
    }
    h4 {
        color :$white;
    }
    h6 {
        color: $e
    }
    p {
        color: $white;
    }
    .invoice-outer-container {
        transition: .25s;
        background-color: $c;
    }
    .payment-button-paid {
        background-color: $t;
        color: $r!important;
    }
    .payment-button-pending {
        background-color: $p;
        color: $s!important;
    }
    .payment-button-draft {
        background-color: $o;
        color: $white!important;
    }
    .dot-paid {
        background-color: $r!important;
    }
    .dot-pending {
        background-color: $s!important;
    }
    .dot-draft {
        background-color: $white!important;
    }
    .lds-default div {
        background: $white;
    }
    .list-filter-modal {
        background: $d;
    }
    .viewer-status-outer-container {
        transition: .25s;
        background-color: $c;
    }
    .viewer-main-outer-container {
        transition: .25s;
        background-color: $c;
    }
    .viewer-main-pricing-outer-container {
        transition: .25s;
        background-color: $d;
    }
    #viewer {
        h3 {
            span {
                color: $v!important;
            }
        }
    }
    .viewer-main-pricing-grand-total-outer-container {
        background-color: $h!important;
    }
    .viewer-footer-outer-container {
        background-color: $c;
    }
    .viewer-footer-edit-button-container {
        background-color: $d;
        h3 {
            color: $e;
        }
    }
    .delete-modal-outer-container {
        background-color: $c!important;
    }
    .delete-modal-inner-container {
        h1 {
            color: $white;
        }
        @media(min-width: 768px) {
            h2 {
                color: $e;
            }
        }
    }
    .delete-modal-cancel-button-container {
        background-color: $d;
        h3 {
            color: $e;
        }
    }
    .error-modal-outer-container {
        background-color: $c!important;
    }
    .error-modal-inner-container {
        h1 {
            color: $white;
        }
        @media(min-width: 768px) {
            h2 {
                color: $e;
            }
        }
    }
    .error-modal-ok-button-container {
        background-color: $d;
        h3 {
            color: $e;
        }
    }
    #createoredit {
        h1 {
            span {
                color: $x;
            }         
        }
        h4 {
            color: $f;
        }
    }
    .createoredit-field {
        background-color: $c;
        border: 0.063rem $d solid;
        color: $white;
    }
    .createoredit-field-error {
        background-color: $c;
        border: 0.063rem $i solid;
        color: $white;
    }
    .createoredit-option {
        background-color: $d;
        border-bottom: 0.063rem $c solid;
        color: $white;

        span {
            transition: .25s;
            color:$e;
        }
    }
    .createoredit-option:hover {
        span {
            color: $j;
        }
    }
    input:focus {
        background-color: $c!important;
        border: 0.063rem $d solid!important;;
        color: $white!important;
    }
    .createoredit-date-disabled {
        background-color: $c;
        border: 0.063rem $d solid;
        color: $white;
        span {
            color:$u!important;
        }
    }
    .createoredit-item-add-button {
        background-color: $c!important; 
    }
    .createoredit-footer-outer-container {
        background-color: $c!important;
    }
    .createoredit-cancel-button-container {
        background-color: $d!important;
        h3 {
            color: $e!important;
        }
    }
    .createoredit-discard-button-container {
        background-color: $d!important;
        h3 {
            color: $e!important;
        }
    }
    .createoredit-bottom-filler {
        background-color: $trans;
    }
    .createoredit-saveasdraft-button-container {
        background-color: $w!important;
        h3 {
            color: $e!important;
        }
    }
    .createoredit-calendar-outer-container {
        background-color: $d!important;
        span {
            color: $e!important;
        }
        h6 {
            color: $e!important;
        }
    }
    .createoredit-container {
        @media(min-width: 768px) {
            h4 {
                color: $e!important;
            }
        }
    }
}
.day-mode {
    background-color: $k!important;
    transition: .25s;

    ::-webkit-scrollbar-thumb {
        background: $e!important;
    }

    .background-filler {
        background-color: $k!important;
        transition: .25s;
        width: 100%!important;
        height: 100%!important;
        z-index: 5;
    }

    .background-createoredit-filler{
        background-color: $k!important;
    }

    h1 {
        color: $h;
    }
    h2 {
        color: $f;
    }
    h3 {
        color: $h;
    }
    h4 {
        color: $h;
    }
    h6 {
        color: $f;
    }
    p {
        color: $h;
    }
    .invoice-outer-container {
        transition: .25s;
        background-color: $white;
    }
    .payment-button-paid {
        background-color: $q;
        color: $r!important;
    }
    .payment-button-pending {
        background-color: $p;
        color: $s!important;
    }
    .payment-button-draft {
        background-color: $o;
        color: $h!important;
    }
    .dot-paid {
        background-color: $r!important;
    }
    .dot-pending {
        background-color: $s!important;
    }
    .dot-draft {
        background-color: $h!important;
    }
    .lds-default div {
        background: $f;
    }
    .list-filter-modal {
        background: $white;
    }
    .viewer-status-outer-container {
        transition: .25s;
        background-color: $white;
    }
    .viewer-main-outer-container {
        transition: .25s;
        background-color: $white;
    }
    .viewer-main-pricing-outer-container {
        transition: .25s;
        background-color: $u;
    }
    #viewer {
        h3 {
            span {
                color: $g!important;
            }
        }
    }
    .viewer-main-pricing-grand-total-outer-container {
        background-color: $w!important;
    }
    .viewer-footer-outer-container {
        background-color: $white;
    }
    .viewer-footer-edit-button-container {
        background-color: $u;
        h3 {
            color: $g;
        }
    }
    .delete-modal-outer-container {
        background-color: $white!important;
    }
    .delete-modal-inner-container {
        h1 {
            color: $h;
        }
    }
    .delete-modal-cancel-button-container {
        background-color: $u;
        h3 {
            color: $g;
        }
    }
    .error-modal-outer-container {
        background-color: $white!important;
    }
    .error-modal-inner-container {
        h1 {
            color: $h;
        }
    }
    .error-modal-ok-button-container {
        background-color: $u;
        h3 {
            color: $g;
        }
    }
    #createoredit {
        h1 {
            span {
                color: $v;
            }         
        }
        h4 {
            color: $g;
        }
    }
    .createoredit-field {
        background-color: $white;
        border: 0.063rem $e solid;
        color: $h;
    }
    .createoredit-field-error {
        background-color: $white;
        border: 0.063rem $i solid;
        color: $h;
    }
    .createoredit-option {
        background-color: $white;
        border-bottom: 0.063rem $e solid;
        color: $z;

        span {
            transition: .25s;
            color:$z;
        }
    }
    .createoredit-option:hover {
        span {
            color: $j;
        }
    }
    input:focus:-webkit-autofill {
        background-color: $white;
        border: 0.063rem $e solid;
        color: $h;
    }
    .createoredit-date-disabled {
        background-color: $white;
        border: 0.063rem $e solid;
        color: $h;
        box-shadow: 0.125rem 0.313rem 0.313rem $y!important;
        span {
            color:$l!important;
        }
    }
    .createoredit-item-add-button {
        background-color: $u!important; 
    }
    .createoredit-footer-outer-container {
        background-color: $white!important;
    }
    .createoredit-cancel-button-container {
        background-color: $u!important;
        h3 {
            color: $g!important;
        }
    }
    .createoredit-discard-button-container {
        background-color: $u!important;
        h3 {
            color: $g!important;
        }
    }
    .createoredit-bottom-filler {
        // background: $transgray;
        background: linear-gradient(0deg, $transgray, $trans) no-repeat;
    }
    .createoredit-saveasdraft-button-container {
        background-color: $w!important;
        h3 {
            color: $e!important;
        }
    }
    .createoredit-saveasdraft-button-container {
        background-color: $w!important;
        h3 {
            color: $f!important;
        }
    }
    .createoredit-calendar-outer-container {
        background-color: $white!important;
        span {
            color: $h!important;
        }
        h6 {
            color: $h!important;
        }
    }
    .createoredit-container {
        @media(min-width: 768px) {
            h4 {
                color: $g!important;
            }
        }
    }
}


