// Colors 
    $a: #7b5cfa;
    $b : #9175ff;
    $c: #1E2139;
    $d: #252945;
    $e: #DFE3FA;
    $f: #888EB0;
    $g: #7E88C3;
    $h: #0C0E16;
    $i: #EC5757;
    $j: #9277FF;
    $k: #F8F8F8;
    $l: #141625;
    $m: #494E6E;

.pointer:hover {
    cursor: pointer;
}

.centerize {
    display: flex;
    align-items: center;
    justify-content: center;
}

