// Colors 
    $a: #7b5cfa;
    $b : #9175ff;
    $c: #1E2139;
    $d: #252945;
    $e: #DFE3FA;
    $f: #888EB0;
    $g: #7E88C3;
    $h: #0C0E16;
    $i: #EC5757;
    $j: #9277FF;
    $k: #F8F8F8;
    $l: #141625;
    $m: #494E6E;
    $n: #7C5DFA;
    $white: #ffffff;

//Font --> font-family: 'Spartan', sans-serif;

    @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

//Global Classes

body {
    font-family: 'Spartan', sans-serif!important;
}

.pointer:hover {
    cursor: pointer;
}

.ns {
    margin: 0!important;
    padding: 0!important;
}

.f {
    &-ae {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &-ca {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-c {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.night-mode {
    background-color: $l!important;
    transition: .25s;

    h1 {
        color: $white;
    }
    h2 {
        color :$white;
    }
    h3 {
        color :$white;
    }
    .invoice-outer-container {
        transition: .25s;
        background-color: $c;
    }
}
.day-mode {
    background-color: $k!important;
    transition: .25s;

    h1 {
        color: $h;
    }
    h2 {
        color: $f;
    }
    h3 {
        color: $h;
    }
    .invoice-outer-container {
        transition: .25s;
        background-color: $white;
    }
}

