#list {
    z-index: 0!important;
    h1 {
        font-size: 1.25rem!important;
        font-weight: 700!important;
        letter-spacing: -0.039rem!important;
        line-height: 1.25rem!important;
        margin: 0!important;
        padding: 0!important;
        display: flex;
    }
    h2 {
        font-size: 0.75rem!important;
        letter-spacing: -0.016rem!important;
        margin: 0!important;
        padding: 0!important;
        display: flex;
        align-items: center;
        line-height: 0.938rem!important;
        span {
            font-weight: 700!important;
        }
    }
    h3 {
        font-size: 0.75rem!important;
        font-weight: 600!important;
        letter-spacing: -0.016rem!important;
        line-height: .938rem!important;
        margin: 0!important;
        padding: 0!important;

        span {
            color: $g!important;
        }
    }
    h4 {
        font-size: 1rem!important;
        font-weight: 700!important;
        letter-spacing: -0.05rem!important;
        line-height: 1.5rem!important;
        margin: 0!important;
        padding: 0!important;
        display: flex;
        align-items: center;
    }
    h5 {
        font-size: 0.75rem!important;
        font-weight: 700!important;
        letter-spacing: -0.016rem!important;
        line-height: 0.938rem!important;
        margin: 0!important;
        padding: 0!important;

        span {
            color: $g!important;
        }
    }
    .checkbox {
        width: 1rem!important;
        height: 1rem!important;
        border-radius: 0.125rem!important;
        margin-right: 0.813rem!important;
        transition: 0.25s;
    }
    .checkbox-checked {
        background-image: url(../assets/icon-checked-full.svg)!important;
        width: 1rem!important;
        height: 1rem!important; 
    }

    .list {
        &-container {
            margin: 2rem 1.5rem 6.563rem 1.5rem!important
        }
        &-container-filter {
            height: 2.75rem!important;
            z-index: 2!important;
        }
        &-modal-outer-container {
            margin: 0rem!important;
            height: 8rem!important;
        }
        &-filter-modal {
            z-index: 1!important;
            width: 8rem!important;
            height: 8rem!important;
            right: 5.625rem;
            top: 2.75rem;
            border-radius: 0.5rem!important;
        }
        &-filter-modal-item {
            display: flex;
            width: 100%!important;
            height: 100%!important;
            justify-content: center;
            align-items: center;
            transition: .25s!important;
            border-radius: 0.5rem!important;
        }
        &-filter-modal-selected {
            background: $n!important;
            h3 {
                color: $white;
            }
        }
        &-filter-modal-trans-on {
            animation-name: filter-trans-in;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }
        &-filter-modal-trans-off {
            animation-name: filter-trans-out;
            animation-duration: 0s;
            animation-fill-mode: forwards;
        }
    }

    @keyframes filter-trans-in {
        from {transform: rotateX(90deg); top: 0rem; display: block}
        to {transform: rotateX(0deg); top: 3rem; display: block}
    }
    @keyframes filter-trans-out {
        from {transform: rotateX(0deg); top: 3rem; display: block}
        to {transform: rotateX(90deg); top: -1.25rem; display: none}
    }

    .filter {
        &-arrow {
            background-image: url(../assets/icon-arrow-down.svg);
            width: 0.625rem!important;
            height: 0.438rem!important;
            transition: .5s;
        }
        &-arrow-clicked {
            transform: rotateX(180deg);
        }
        &-container {
            margin: 0 1.125rem 0 0.688rem!important
        }
        &-drop-container {
            z-index: 1;
            background-color: white;
            margin-left: auto;
            height: 3rem;
            width: 6.25rem;
            left: 50%;
            top: 0px;
        }
    }

    .button {
        &-container {
            background-color: $n!important;
            width: 5.625rem!important;
            height: 2.75rem!important;
            border-radius: 1.513rem!important;
        }
        &-circle {
            width: 2rem!important;
            height: 2rem!important;
            background-color :$white!important;
            border-radius: 50%!important;
        }
        &-icon {
            background-image: url(../assets/icon-plus.svg);
            width: 0.625rem!important;
            height: 0.625rem!important;
        }
        span {
            color: $white;
            font-size: 0.75rem!important;
            font-weight: 700!important;
            letter-spacing: -0.016rem!important;
            margin: 0 0.5rem 0 0.5rem!important;
        }
    }

    .no-invoices {
        &-container {
            margin-top: 6.438rem!important;
        }
        &-logo {
            background-image: url(../assets/illustration-empty.svg);
            width: 15.125rem!important;
            height: 12.5rem!important;
            margin-bottom: 2.5rem!important
        }
        &-text-margin {
            margin-top: 1.875rem!important;
        }
        &-space {
            margin-right: .15rem!important
        }
        &-container-error {
            margin-top: 12.25rem!important;
        }
        &-error-logo {
            background-image: url(../assets/icon-error.svg);
            transform: scale(9);
            width: 1.25rem!important;
            height: 1rem!important;
            margin-bottom: 8rem!important;
        }
    }

    @media(min-width: 768px) {
        .list-container {
            margin: 3.5rem 3rem 6.563rem 3rem!important
        }
        .list-container-filter {
            h1 {
                font-size: 2rem!important;
                margin-bottom: 1rem!important;
            }
        }
        .button-container {
            width: 9.375rem!important;
            height: 3rem!important;

            span {
                margin-left: 1rem!important;
            }
        }
        .filter-container {
            margin: 0 2.5rem 0 1rem!important
        }
        .list-filter-modal {
            z-index: 1!important;
            width: 12rem!important;
            height: 8rem!important;
            right: 10rem;
            border-radius: 0.5rem!important;
        }
        .no-invoices-container {
            margin-top: 13rem!important;
        }
        .no-invoices-container-error {
            margin-top: 19rem!important;
        }
        @keyframes filter-trans-in {
            from {transform: rotateX(90deg); top: 0rem; display: block}
            to {transform: rotateX(0deg); top: 3.5rem; display: block}
        }
    }
    @media(min-width: 1200px) {
        .list-container {
            margin: 0!important;
        }
        .list-filter-modal-item {
            display: flex!important;
            width: 6rem!important;
            height: 1rem!important;
            justify-content: start!important;
            align-items: center!important;
            transition: .25s!important;
            border-radius: 0.5rem!important;
            cursor: pointer;
        }
        .list-filter-modal-item:hover {
            .checkbox {
                border: 1px $n solid;
                transition: .25s!important;
            }
        }
        .list-modal-inner-container {
            padding: 1.5rem!important;
        }
        .list-filter-modal-selected {
            background: $trans!important;
            h3 {
                color: $white!important;
            }
        }
    }
}