#list {
    h1 {
        font-size: 1.25rem!important;
        font-weight: 700!important;
        letter-spacing: -0.039rem!important;
        line-height: 1.25rem!important;
        margin: 0!important;
        padding: 0!important;
        display: flex;
    }
    h2 {
        font-size: 0.75rem!important;
        letter-spacing: -0.016rem!important;
        margin: 0!important;
        padding: 0!important;
        display: flex;
        align-items: center;
        line-height: 0.938rem!important;
        span {
            font-weight: 700!important;
        }
    }
    h3 {
        font-size: 0.75rem!important;
        font-weight: 700!important;
        letter-spacing: -0.016rem!important;
        line-height: 0.938rem!important;
        margin: 0!important;
        padding: 0!important;

        span {
            color: $g!important;
        }
    }
    h4 {
        font-size: 1rem!important;
        font-weight: 700!important;
        letter-spacing: -0.05rem!important;
        line-height: 1.5rem!important;
        margin: 0!important;
        padding: 0!important;
        display: flex;
        align-items: center;
    }
    h5 {
        font-size: 0.75rem!important;
        font-weight: 700!important;
        letter-spacing: -0.016rem!important;
        line-height: 0.938rem!important;
        margin: 0!important;
        padding: 0!important;

        span {
            color: $g!important;
        }
    }
    .list {
        &-container {
            margin: 2rem 1.5rem 6.563rem 1.5rem!important
        }
        &-container-filter {
            height: 2.75rem!important;
            z-index: 2!important;
        }
        &-filter-modal {
            position: absolute!important;
            z-index: 1!important;
            width: 8rem!important;
            right: 5.625rem;
            top: 2.75rem;
            border-radius: 0.5rem!important;
        }
        &-filter-modal-trans-on {
            animation-name: filter-trans-in;
            animation-duration: .5s;
            animation-fill-mode: forwards;
        }
    }

    @keyframes filter-trans-in {
        from {height: 0rem; display: block}
        to {height: 8rem; }
    }

    .filter {
        &-arrow {
            background-image: url(../assets/icon-arrow-down.svg);
            width: 0.625rem!important;
            height: 0.438rem!important;
        }
        &-container {
            margin: 0 1.125rem 0 0.688rem!important
        }
        &-drop-container {
            z-index: 1;
            background-color: white;
            margin-left: auto;
            height: 3rem;
            width: 6.25rem;
            left: 50%;
            top: 0px;
        }
    }

    .button {
        &-container {
            background-color: $n!important;
            width: 5.625rem!important;
            height: 2.75rem!important;
            border-radius: 1.513rem!important;
        }
        &-circle {
            width: 2rem!important;
            height: 2rem!important;
            background-color :$white!important;
            border-radius: 50%!important;
        }
        &-icon {
            background-image: url(../assets/icon-plus.svg);
            width: 0.625rem!important;
            height: 0.625rem!important;
        }
        span {
            color: $white;
            font-size: 0.75rem!important;
            font-weight: 700!important;
            letter-spacing: -0.016rem!important;
            margin: 0 0.5rem 0 0.5rem!important;
        }
    }

    .no-invoices {
        &-container {
            margin-top: 6.438rem!important;
        }
        &-logo {
            background-image: url(../assets/illustration-empty.svg);
            width: 15.125rem!important;
            height: 12.5rem!important;
            margin-bottom: 2.5rem!important
        }
        &-text-margin {
            margin-top: 1.875rem!important;
        }
        &-space {
            margin-right: .15rem!important
        }
        &-container-error {
            margin-top: 12.25rem!important;
        }
        &-error-logo {
            background-image: url(../assets/icon-error.svg);
            transform: scale(9);
            width: 1.25rem!important;
            height: 1rem!important;
            margin-bottom: 8rem!important;
        }
    }
}