#viewer {
    h3 {
        font-size: 0.75rem!important;
        font-weight: 700!important;
        letter-spacing: -0.016rem!important;
        line-height: .938rem!important;
        margin: 0!important;
        padding: 0!important;

        span {
            color: $g!important;
        }
    }
}